# WordPress core and config
wp-admin/*
!wp-admin/dalenii-deploy-instructions.md
wp-includes/
wp-config.php
wp-config-sample.php
readme.html
license.txt
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore everything in wp-content except our specific plugin and theme
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/twentytwentyfour-dalenii/

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/dalenii-core-helper/
